/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('images/bg.png');
    background-size: contain;
}

header {
    background: linear-gradient(to right, #FFA500, #FF0000);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#brand {
    display: flex;
    align-items: center;
}

#brand img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Contact Section styles */
#contact {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 800px;
    margin: 10px auto 30px; /* Adjusted margin */
}

#contact h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#contact form label {
    font-weight: bold;
    margin-bottom: 10px;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form textarea {
    height: 150px;
}

#contact form button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background: linear-gradient(to right, #FFA500, #FF0000);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info p {
    margin-bottom: 5px;
    line-height: 1.2;
}

/* Common styles */
#cta {
    background-color: #ffcc00;
    color: #333;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#cta:hover {
    background-color: #ffdb4d;
    color: #000;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

a:hover {
    color: #ffcc00;
    transform: scale(1.1);
    font-size: 1.2em;
}
