#about {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(243, 241, 236, 0.637); 
    color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 20px;
    margin-bottom: 20px;
    font-style: italic;
    color: #333;
    width: 70%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    color: #666;
    margin-bottom: 10px;
}
#reviews {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(243, 241, 236, 0.637); 
    color: #333; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

#reviews h2 {
    margin-bottom: 20px;
    color: #333; 
}

.review {
    margin-bottom: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    vertical-align: top; 
}

.review h2 {
    margin-bottom: 10px;
    color: #333; 
    background-color: #ffcc00; 
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.review p {
    color: #666; 
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background-color: rgba(243, 241, 236, 0.637); 
    color: #333; 
    padding: 10px 10px;
    text-align: center; 
}

#sub {
    font-size: 20px;
}

#form {
    font-size: 20px;
}
