

/* Booking Form styles */
section {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    max-width: 500px; /* Adjusted maximum width */
    margin: 0 auto; /* Centerize the section */
    margin-top: 20px; /* Adjusted top margin */
}

h1 {
    font-size: 28px; /* Adjusted font size */
    margin-bottom: 20px; /* Increased bottom margin */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px; /* Adjusted font size */
    color: #333; /* Changed color */
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="datetime-local"] {
    width: 100%; /* Adjusted width for all input elements */
    padding: 10px;
    margin-bottom: 20px; /* Increased bottom margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Uniform padding for placeholders */
    padding-left: 10px;
}

input[type="submit"]:hover {
    background-color: #ffa500;
}

table,tr{
    text-align: left;
    width: 100%;
    margin: 0 auto;
}
button{
    margin: 0 auto;
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: #ffa500;

}